/* Styles pour afficher la photo de profil à côté du contenu */
.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre l'image et le texte */
  width: 80%;
  max-width: 800px;
}

.github-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre l'image et le texte */
  width: 80%;
  max-width: 800px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Pour un effet arrondi */
  object-fit: cover;
}

#photo {
  width: 80%;
  max-width: 800px;
  height: 250px; /* ajuste selon ce que tu veux voir de l'image */
  border-radius: 8px; /* conserve les coins arrondis si tu veux */
  overflow: hidden;

  /* Image en fond */
  background-image: url("../Photos/photo13.JPG");
  background-size: cover; /* remplissage sans déformation */
  background-position: center center; /* centre la zone visible de l'image */
  background-repeat: no-repeat;

  /* si tu veux garder le flou et la transparence */
  backdrop-filter: blur(3px);
}
@media (max-width: 768px) {
  .profile-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .profile-wrapper .profile-img {
    width: 120px; /* Taille ajustée pour mobile */
    height: 120px;
    margin-bottom: 10px; /* Espace entre l'image et le contenu */
  }
}
/* Gestion de l'apparition progressive du texte avec les différentes langues*/
.typewriter {
  white-space: pre-wrap; /* Important pour respecter les \n */
}

#lang-toggle {
  transition:
    opacity 0.5s ease,
    filter 0.5s ease;
}

.hidden-lang-toggle {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}

.visible-lang-toggle {
  opacity: 1;
  pointer-events: auto;
  filter: blur(0);
}

/* Style pour le lien vers la page admin */
.footer-content {
  display: flex;
  justify-content: center; /* centre le texte */
  align-items: center;
  position: relative;
  padding: 10px 0;
}

#admin-link {
  position: absolute;
  left: 95%;
  margin-left: 10px; /* espace entre le texte et le lien */
  font-size: 12px;
  color: #777;
  text-decoration: none;
}

#admin-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #admin-link {
    left: 90%;
  }
}
